/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
}
main {
    max-width: 35% ;
    margin: 50px auto;
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #2c3e50;
    border-bottom: 20px solid rgb(53, 139, 209);
    border-radius: 10px;
    background-color: yellow;
}
/* Form Layout */
form {
    display: flex; 
    flex-direction: column;
    gap: 20px;    
}
fieldset {
    border: 2px solid #3498db;
    border-radius: 6px;
    padding: 15px;
    
}
legend {
    font-weight: bold;
    color: #3498db;
    padding: 0 8px;
}
label {
    display: block;
    margin-top: 10px;
    color: #333;
}
input[type='text'],
input[type='email'],
input[type='date'],
select,
textarea{
    width: 85%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #93b9cf;
    border-radius: 4px;
    color: #3498db;
}
input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='date']::placeholder,
textarea::placeholder{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #3498db;
}
/* Radio and Checkbox Styles */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 6px;
}

/* Buttons */
.form-buttons {
    display: flex;
    justify-content:space-evenly;
}
input[type="submit"],
input[type="reset"] {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}


input[type="submit"]:hover {
    background: #328a18;
}

input[type="reset"]:hover {
    background: #c0392b;
}